@model IEnumerable<WunderListSample.Models.WunderListItem>

@{
    ViewBag.Title = "Index";
}
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker(); 
            $.ajax({
                url: '@Url.Action("GetTask")',
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {         
                    $.each(data, function (index, item) {
                        var subTask = ' <div class="panel-body"><ul class="list-group">';
                        $.ajax({
                            url: '@Url.Action("GetSubTask")',
                            type: "POST",
                            dataType: 'JSON',
                            async: false,
                            data:'taskId='+item.TaskId,
                            success: function (subTaskData) {
                                $.each(subTaskData, function (index, itemdata) {
                                    if (itemdata.IsCompleted) {
                                        subTask = subTask + '<li class="list-group-item ">' + itemdata.Title + '</li>';
                                    } else {
                                        subTask = subTask + '<li class="list-group-item list-group-item-info">' + itemdata.Title + '</li>';
                                    }
                             
                                })
                                subTask = subTask + '</ul></div>';
                            }
                        })
                        $("#WunderList").append('<div class="panel panel-primary"> <div class="panel-heading"> <h3 class="panel-title">' + item.Title + '</h3></div> ' + subTask);

                    })
                }
            })
        });
    </script>
<p>
</p>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9" id="WunderList">
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <div id="datepicker"></div>
            </div>
        </div>
    </div>
</div>
