@model IEnumerable<WunderListSample.Models.WunderListItem>

@{
    ViewBag.Title = "Index";
}
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker(); 
            $.ajax({
                url: '@Url.Action("GetTask")',
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {         
                    $.each(data, function (index, item) {
                        $("#list").append('<li class="list-group-item" >' + item.Title + '</li>');
                    })
                }
            })
        });
    </script>
<p>
</p>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <div class="jumbotron">
                <ul id="list" class="list-group"></ul>
            </div>         
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <div id="datepicker"></div>
            </div>
        </div>
    </div>
</div>
